.app-new-reminder {
  display: block;

  .mat-input-container {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
  }

  .app-new-reminder-issue {
    margin: 16px 0;
  }

  .app-issue {
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }

  .app-new-reminder-save  {
    margin-top: 32px;
  }

}
